services:
  mysql:
    image: mysql:8.0
    container_name: ${MYSQL_HOST}
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "33006:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - edu-shared

networks:
  edu-shared:
    external: true

volumes:
  mysql_data:
